<%= render "header"%>
<%= link_to("Go Back", {:action=>"index"})%>
<%= @post.topic%>
<%= @post.user_name%>
<%= @post.user_post%>
<%= render "footer"%>

<h2>Post a Comment</h2>
<%=link_to("Comment On a Post", post_comments_path(@post))%>